// Our colour variables
$rideorange:                #FF6600;
$rideorangedark:            #cc5200;
$bg:                        #fff;
$red:                       rgb(202, 0, 0);
$blue:                      rgb(68, 0, 255);
$green:                     rgb(31, 187, 0);
$yellow:                    rgb(239, 243, 0);
$orange:                    rgb(255, 136, 0);
$verylightgrey:             #eee;
$lightgrey:                 #ccc;
$grey:                      #777;
$darkgrey:                  #555;
$verydarkgrey:              #333;
$successbg:                 rgb(189, 231, 154);
$successborder:             rgb(151, 182, 126);
$sucesstxt:                 rgb(0, 99, 0);
$errorbg:                   rgb(253, 223, 223);
$errorborder:               rgb(219, 179, 179);
$errortxt:                  rgb(136, 0, 0);
$warningbg:                 rgb(255, 215, 170);
$warningborder:             rgb(236, 189, 135);
$warningtxt:                rgb(128, 83, 0);
$infobg:                    rgb(174, 209, 255);
$infoborder:                rgb(142, 177, 223);
$infotxt:                   rgb(0, 31, 71);