@import 'base/variables';
@import 'intl-tel-input/build/css/intlTelInput.css';


#peak-15-form {

    padding: 15px;

    h3 {
        font-size: 22px;
        color: $rideorange;
        margin: 12px 0;
        font-weight: 400;
    }

    hr {
        margin: 10px 0 15px;
    }
}

#formSubmit:disabled {
	background-color: $grey !important;
	color: lightgrey !important;
	cursor: progress !important;
}

.p15-btn {
    // width: 100%;
    background: $rideorange;
    border: none;
    padding: 8px 12px;
    margin: 1.5rem 0 1rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.p15-btn:hover {
    background: $rideorangedark;
    border: none;
    // padding-left: 20px;
    transition: 0.3s ease-in-out;
}

.p15-input-group, .p15-input-group label, input {
    position: relative;
}

.p15-input-group {
    label {
        font-size: 1.35rem !important;
        line-height: 1 !important;
    }
}

.p15-checkbox-group {
    label {
        display: inline-block;
	    font-size: 1.5rem;
        padding: 1rem;
        background: $verylightgrey;
    }
}

.p15-input-control {
    color: $grey;
    background: rgba(255, 255, 255, 0.75);
	padding: 10px !important;
    min-height: .35rem !important;
    margin-bottom: .25rem !important;
	line-height: 1.4 !important;
    border: 1px solid $lightgrey; 
    width: 100%;
}

// Errors and validation form styles
.p15-input-notif {
    small {
	    font-size: 1rem;
    }
}

.p15-error > .p15-input-notif {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: $red;
    font-size: 0.75rem;
}

.p15-input-control.invalid, .p15-error .p15-input-control {
    border: 1px solid $red;
    box-shadow: 0 0 3px $red;
    background: $errorbg;
}

.form-section {
    display: block;
    margin-bottom: 20px;
}

.extras-box {
    display: inline-block;
    margin: 5px 10px 4px 0;
}

// Media queries for forms